DB_URL=jdbc:mysql://localhost:3306/finsaarthi?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=true
SPRING_PROFILES_ACTIVE=dev
APP_LOG_LEVEL=DEBUG
PORT=8080
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
JWT_SECRET=REPLACE_WITH_A_LONG_RANDOM_JWT_SECRET_AT_LEAST_32_BYTES
